@font-face {
    font-family: 'Inter';
    src: local('Inter Light Italic BETA'), local('Inter-Light-Italic-BETA'),
        url('Inter-LightItalicBETA.woff2') format('woff2'),
        url('Inter-LightItalicBETA.woff') format('woff'),
        url('Inter-LightItalicBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }